<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <%- include('../includes/navigation.ejs')  %>

  <div class="container">
    <h2>How to Make Most of Your 24 Hours</h2>
    <div class="post">
      <h4> BY <span> LEO BABAUTA </span></h4>
      <p>So many of us feel a scarcity of time: we feel rushed, like there’s not enough time to do everything, always behind, never feeling like we’re doing enough.</p>

      <p>This problem is called “time scarcity,” and it’s one of the most common stresses in our society.</p>
      <p>
        So how do we deal with this? Unfortunately, there’s no easy answer — but there are a few things I’ve found to be really powerful.
      </p>
      <p>
        Let’s talk about the problem before we talk about the solution.
      </p>
      <h3>The Problem of Time Scarcity</h3>
      <p>
        Most of us feel some kind of time stress: I’m not making the most of my time, or there’s not enough of it to get everything done, it’s slipping away too fast, I’m overwhelmed by it all.
      </p>
      <p>
        The feeling is that there’s not enough time. With a feeling of scarcity about time, we stress that we won’t get everything done. We feel behind.
      </p>
      <h3>4 Ways to Make the Most of 24 Hours</h3>
      <p>These work for me. Your mileage might vary widely, but I hope you’ll try them out.</p>
      <p>
        <strong>First: be intentional at the start of each day.</strong>
<br><br>

   With a fresh 24 hours before us, it’s easy to just get started in our usual way. But to make the most of this new batch of hours, I’ve found it important to take a few moments at the start of the day to refect on what I want to do with them. I might not end up doing things exactly as I plan, but I’m much more likely to spend the hours wisely if I set intentions at the start. I make a list of what I would like for the day.
      </p>
      <p><strong>Second: don’t shoot for doing more, do what matters</strong>
        <br><br>
        
         As I said, even doing 30+ things in a day won’t get rid of the time scarcity — in fact, it often makes the stress even worse. Having a list of 30 things to do each day also gives you a feeling of stress and scarcity. So what if you had a list of 3 important things? You’ve probably heard this advice before, but do you follow it? If you could only put 3 things on the list, you’d choose carefully. Btw, after you do those 3 things, you can still do others, but I wouldn’t expect yourself to do all the other things. As you do each of the 3 things on your list, do each thing as if it were the only thing that mattered. (See next item.)
      </p>
      <p>
        <strong>Third: create moments of transcendence</strong>
        <br><br>
        
        Rushing through tasks and chores like we need to get to the next thing only creates an experience of life that blends together in a dull soup. But what if we could elevate the moments of our lives to something special, sacred, alive? What if cooking soup for dinner became a transcendent experience? A moment of transcendence is something each of us has experienced: when we feel incredibly connected to the world around us, when we lose our sense of separate self and feel a part of something bigger. It’s that moment when you’re at the top of a mountain looking with awe on everything around you, or looking up at the stars, or floating in the ocean, or having your breath taken away by a sunset or field of flowers. We can intentionally create these moments, with practice, in our everyday lives. As you’re doing everything on your list, as you’re washing the dishes or having a conversation, driving home or eating kale and beans … you can elevate that moment into one of transcendence. Try it. And if you could create multiple moments like this throughout your day … time feels less scarce, and incredibly abundance. 
      </p>
    </div>
  </div>

  <footer>
      <div class="wide-container">
        <div class="products">
          <h1>Life-changing training programs and live experiences are waiting for you.</h1>
          <h2>Subscribe us to ensure a great change.</h2>
        </div>
      </div>
  </footer>
<%- include('../includes/end.ejs') %>